= form_for @video do |f|
  - if @video.errors.any?
    #error_explanation
      %h2= "#{pluralize(@video.errors.count, "error")} prohibited this video from being saved:"
      %ul
        - @video.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title, id: 'video_title'
  .field
    %section.experiment
      %h2.header Record Audio+Video
      .inner
        %h2#download-url
        %br/
        %video#video
        %audio#audio
        %hr/
        %a#start-recording Record
        %a#stop-recording{:disabled => "disabled"} Stop
        %a#upload-recording{:disabled => "disabled"} Send