%p#notice= notice

%p
  %b Title:
  = @video.title

= video_tag @video.files, controls: true, autobuffer: true

%br
%br

= link_to 'Edit', edit_video_path(@video)
\|
= link_to 'Back', videos_path
\|
= link_to 'New', [:new, :video]
